# Maven target
**/target/
*.class

# Log files
*.log

# IDE specific files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Database binaries
*.mv.db
*.trace.db
backend/database/
database/*.mv.db
